@import './colors';
@import './components';
@import './mixins';

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 71.98px
}

body {
    background-color: $white;
    color: $dark;
    font-family: 'Urbanist', sans-serif;
}

// NAV 

.fake-nav {
    top: 0;
    background: none;
    width: 100%;
    height: 72px;
    z-index: 9;
    background: #000;
}

.nav {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $white;
    width: 100%;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
    font-size: 3rem;
    z-index: 10;

    .wrapper {
        display: flex;
        justify-content: space-between;
    }

    &__logo {
        display: flex;
        align-items: center;
        margin: 0 1em;

        &-img {
            margin-right: 0.3em;
        }
    }

    &__slide {
        display: flex;
        visibility: hidden;
        position: fixed;
        width: 100%;
        height: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: $white;
        transform: translateX(100%);
        transition: transform .3s, visibility .3s;
        z-index: 1;

        &-item {
            text-align: center;
            position: relative;
            color: $dark;
            padding: 1em;
            text-decoration: none;
            font-size: 3rem;
            margin: 0.3em 0;

            &::before {
                content: '';
                position: absolute;
                width: 100%;
                bottom: 0;
                left: 0;
                height: 3px;
                background-color: $dark;
                transition: transform .3s;
                transform-origin: right;
                transform: scaleX(0%);
            }

            &:hover::before {
                transform: scaleX(100%);
                transform-origin: left;
            }
        }
    }

    &__slide--active {
        transform: translateX(0%);
        visibility: visible;
    }

    &__burger {
        display: flex;
        border-radius: 5px;
        border: 1px solid transparent;
        background-color: transparent;
        cursor: pointer;
        top: 20px;
        right: 20px;
        padding: 1em;
        margin: 0.5em 0.5em;
        z-index: 1000;

        &:focus {
            outline: none;
            border: 1px solid $dark;
        }

        &:hover {

            .nav__burger-bars::after,
            .nav__burger-bars::before {
                width: 100%;
            }
        }

        &-box {
            position: relative;
            width: 50px;
            height: 30px;
        }

        &-bars,
        &-bars::after,
        &-bars::before {
            position: absolute;
            right: 0;
            height: 3px;
            content: '';
            background-color: $dark;
            transition: width .3s;
        }

        &-bars {
            width: 100%;

            &::after {
                top: 13px;
                width: 60%;
            }

            &::before {
                top: 27px;
                width: 30%;
                transition-delay: .1s;
            }

        }
    }

    &__list {
        display: none;

        &-items {
            display: flex;
            list-style: none;
            font-size: 2rem;
            padding: 1.5em 0 1.5em 1.5em;
        }

        &-item-a {
            color: $dark;
            padding: 1.5em;
            cursor: pointer;
            transition: color .3s, background-color .3s;
            text-decoration: none;
        }

        &-item-a:hover {
            background-color: $dark;
            color: $white;
        }
    }

    &--active {
        background-color: $dark;
        color: $white;
    }
}

// HEADER 

.header {
    padding: 0 3em;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 250px;
    @include bgImg('../img/header-img-small.jpg');
    background-position-y: 140%;
    color: $white;
    z-index: -1;

    &__hero {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $hero;
        z-index: -1;
    }


    &__text {
        font-size: 1.6rem;
    }

    &__title {
        font-size: 2rem;
    }

}

// MAIN 

.aboutus {
    &__img {
        width: 100%;
        margin-bottom: 1.5em;
    }

    &__info {
        &-title {
            font-size: 1.7rem;
            margin-bottom: 0.5em;
        }

        &-text {
            font-size: 1.3rem;
            font-weight: 300;
            line-height: 20px;
            text-align: justify;
        }
    }
}

.trip {
    @include bgImg('../img/hero-img-large.jpg');
    background-position-y: -40%;
    position: relative;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;

    &__header {
        text-align: center;
        font-size: 2rem;
        color: $white;
        padding: 1em 0.5em;
        border: 1px solid $white;
    }

    &__hero {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: $hero;
        z-index: -1;
    }
}

.offers {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__text {
        font-size: 1.5rem;
        margin-bottom: 2em;
    }

    &__card {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 2em 0;
        box-shadow: 0px 5px 13px 0px rgba(66, 68, 90, 0.5);
        padding: 2em 4em;
        border-radius: 7px;

        &-title {
            font-size: 2.1rem;
            margin-bottom: 0.5em;
        }

        &-price {
            font-weight: bold;
            font-size: 3.3rem;
        }

        &-list {
            list-style: none;
            margin: 1em 0;
        }

        &-list-item {
            line-height: 20px;
            font-size: 1.3rem;

            &--minus {
                color: rgb(107, 107, 107);
            }
        }

        .fas {
            margin-right: 0.5em;
        }

        .fa-minus {
            color: rgb(134, 134, 134);
            font-size: 1rem;
        }

        .fa-check {
            color: rgb(14, 219, 106);
            font-size: 1rem;
        }

        &-button {
            background: none;
            padding: 0.4em 2.5em;
            border-radius: 5px;
            border: none;
            font-family: 'Urbanist', sans-serif;
            box-shadow: 0px 2px 8px -1px rgba(66, 68, 90, 0.5);
            cursor: pointer;
        }

        &-button--highlight {
            background-color: #05eb74;
            box-shadow: 0px 2px 8px -1px #05eb74;
        }
    }
}

.contact {
    &__form {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;

        &-text {
            display: flex;
            flex-direction: column;
            width: 100%;
        }

        &-text:first-child {
            margin-right: 2em;
        }

        &-inputs {
            display: flex;
            flex-direction: column;
            width: 100%;
        }

        &-label {
            margin-bottom: 0.5em;
            margin-top: 1em;
            font-size: 1.5rem;
        }

        &-input {
            border: none;
            background: none;
            padding: 0.5em 0;
            border-bottom: 1px solid $dark;
            resize: none;
            font-family: 'Urbanist', sans-serif;
            border-radius: 0px;
        }

        &-input:focus {
            outline: none;
            border-bottom: 2px solid $dark;
        }

        &-btn {
            width: 40%;
            margin-top: 1em;
            margin-bottom: 2em;
            padding: 1em;
            background: none;

            border: 1px solid $dark;
            border-radius: 5px;
            cursor: pointer;
            transition: background .3s, color .3s;
        }

        &-btn:hover {
            background: $dark;
            color: $white;
        }
    }

    & iframe {
        width: 100%;
    }
}

// FOOTER 

.footer {
    padding: 5em 0 0 0;
    background-color: rgb(241, 241, 241);

    &__container {
        display: flex;
        justify-content: space-between;
        margin: 0 2em
    }

    &__logo {
        display: flex;

        &-img {
            color: #2b2b2b;
            font-size: 3.2rem;
            margin: 0 0.5em 0 0;
        }

        &-text {
            position: relative;
            top: -5px;
            font-size: 3.5rem;
        }
    }

    &__boxes {
        display: flex;
        justify-content: space-between;
    }

    &__box {
        margin-left: 5em;

        &-title {
            font-weight: bold;
            font-size: 2rem;
        }

        &-list {
            list-style: none;
            font-size: 1.2rem;
            margin-bottom: 4em;

            &-item {
                margin: 1em 0;
            }
        }

        &:nth-child(odd) {
            display: none;
        }
    }

    &__underline {
        height: 1.5px;
        width: 100%;
        background: rgb(138, 138, 138);
    }

    &__info {
        width: 100%;
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__text {
        font-size: 1.3rem;
    }
}

// MEDIA 

@media(min-width: 370px) {
    .trip {
        &__header {
            font-size: 2.5rem;
        }
    }
}

@media(min-width: 576px) {
    .header {
        height: 350px;
        @include bgImg('../img/header-img-large.jpg');
        background-position-y: 140%;

        &__text {
            font-size: 2rem;
        }

        &__title {
            font-size: 2.6rem;
        }
    }

    .trip {
        &__header {
            padding: 1em 4em;
            font-size: 3.5rem;
        }
    }

    .footer__box:nth-child(odd) {
        display: block;
    }
}

@media(min-width: 750px) {
    html {
        scroll-padding-top: 84px
    }

    .nav {
        justify-content: space-between;

        &__burger {
            display: none;
        }

        &__list {
            display: flex;
        }

        &__slide--active {
            display: none;
        }
    }

    .overflow {
        overflow: visible;
    }

    .aboutus {
        &__img {
            width: 50%;
            margin-right: 3em;
        }

        &__container {
            display: flex;
        }

        &__info-title {
            font-size: 2.5rem;
        }

        &__info-text {
            font-size: 1.5rem;
            line-height: 30px;
        }
    }

    .offers {
        &__cards {
            display: flex;
            margin-bottom: 4em;
        }

        &__text {
            font-size: 1.8rem;
        }

        &__card {
            margin: 0 1.5em;
            padding: 3em 5em;

            &-list {
                margin: 2em 0;
            }

            &-list-item {
                line-height: 25px;
                font-size: 1.5rem;
            }

            &-button {
                padding: 0.5em 3.5em;
            }
        }
    }

    .contact {
        &__form {
            &-inputs {
                flex-direction: row;
            }

            &-btn {
                width: 20%;
            }
        }
    }
}

@media(min-width: 992px) {
    .header {
        &__text {
            font-size: 2.3rem;
        }

        &__title {
            font-size: 3rem;
        }
    }

    .footer__container {
        margin: 0
    }
}

@media(min-width: 1150px) {
    .nav__logo {
        margin-left: 0em;
    }
}

@media (orientation: landscape) and (max-width: 1000px) {
    .header {
        background-position-y: 50%;
    }
}